<p id="notice"><%= notice %></p>

<h1>Positions</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Name</th>
      <th>Min staff</th>
      <th>Max staff</th>
      <th>Min shift duration hrs</th>
      <th>Max shift duration hrs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.location.name %></td>
        <td><%= position.name %></td>
        <td><%= position.min_staff %></td>
        <td><%= position.max_staff %></td>
        <td><%= position.min_shift_duration_hrs %></td>
        <td><%= position.max_shift_duration_hrs %></td>
        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position', new_position_path %>
