<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address line 1:</strong>
  <%= @location.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @location.address_line_2 %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @location.postcode %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @location.country_code %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
